<div class="content">
	<h1>How to Contribute</h1>
	<p>Contributing to Clear My Cache is easy, just <%= link_to 'sign up', new_user_registration_path %> / <%= link_to 'login', new_user_session_path %> .</p>
</div>