$screen-md: "720px";

html { font-size:100%; } /* Fix font size for IE */
body { background:url(/assets/img/bg.png) repeat-x; margin:0; padding:0; color:#333; font:.625em/20px Helvetica, Arial, sans-serif; }

/* Font */
@font-face {
	font-family:'BebasNeue';
	src:url('/assets/fonts/BebasNeue.eot');
	src:url('/assets/fonts/BebasNeue.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/BebasNeue.woff') format('woff'),
		url('/assets/fonts/BebasNeue.ttf') format('truetype'),
		url('/assets/fonts/BebasNeue.svg#BebasNeueRegular') format('svg');
	font-weight:normal;
	font-style:normal;
}

h1, h2, h3, h4, h5, h6 { margin:0; padding:0; }

/* Generic */
p, form, fieldset, img {
	border:none;
	margin:0;
	padding:0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }

ul { margin:0; padding:0; list-style:none; }
ol { margin:0; padding:0; }
ul li { padding:0; }

a { text-decoration:none; font-weight:bold; color:#333; }
a:hover, a:focus { text-decoration:underline; }

.skip { position:absolute; left:-9999px; }

/* Masthead */
#mast { background:url(/assets/img/strips/firefox.png) repeat-x; min-height:50px; }
#mast .sleeve { width:940px; margin:0 auto; }

.firefox #mast { background-image:url(/assets/img/strips/firefox.png); }
.internet.explorer #mast { background-image:url(/assets/img/strips/internet-explorer.png); }
.chrome #mast { background-image:url(/assets/img/strips/chrome.png); }
.safari #mast { background-image:url(/assets/img/strips/safari.png); }
.opera #mast { background-image:url(/assets/img/strips/opera.png); }

#mast h1 { margin:0; padding:0; font-size:1em; line-height:1; }

#logo { position:absolute; left:40px; top:0; background:#F7CC4A url(/assets/img/logo.png) no-repeat 50% 20px; display:block; width:140px; height:50px; text-align:center; color:#FFF; font:normal 2.2em/26px BebasNeue, Impact, Helvetica, Arial, sans-serif; }
#logo span { text-indent:-9999px; display:block; }

.firefox #logo { background-color:#F7CC4A; }
.internet.explorer #logo { background-color:#227CC0; }
.chrome #logo { background-color:#7DB1DD; }
.safari #logo { background-color:#4A9AC0; }
.opera #logo { background-color:#D72127; }

/* Footer */
#browser_image { margin:0 auto; padding:80px 0 0; display:block; }
#footer .sleeve { background:#163A67; text-align:center; color:#FFF; padding:15px 0 0; }
#footer .sleeve a { color:#FFF; }
#footer .sleeve p { font-size:1.3em; line-height:22px; margin:0; }
#footer .sleeve p img { vertical-align:text-top; }
#footer .sleeve small { font-size:1em; padding:10px 0; display:block; }

.firefox #footer .sleeve { background:#163A67; }
.internet.explorer #footer .sleeve { background:#3BBFED; }
.chrome #footer .sleeve { background:#7AAFDC; }
.safari #footer .sleeve { background:#58595B; }
.opera #footer .sleeve { background:#A4181B; }

/* content */
.content { width:820px; margin:30px auto; padding:0 0 3px; font:1.4em/1 Georgia, "Times New Roman", serif;  
	h1, h2{
		font: normal 3em/1 BebasNeue, Impact, Helvetica, Arial, sans-serif;
		text-transform: uppercase;
		padding: 0 0 16px;
		text-align:center;
	}
	h2{
		font-size: 2em;
		text-align:left;
	}
}

.row{
	overflow:hidden;
	.col-6{
		width: 100%;
		float: left;
	}

	@media screen and (min-width: $screen-md) {
		.col-6{
			width: 50%;
		}
	}
}

/* What am I ??? */
#what_am_i { width:820px; margin:0 auto; padding:0 0 35px; background:url(/assets/img/dot.png) repeat-x 0 100%; text-align:center; }
#what_am_i h2 { font:normal 8.5em/1 BebasNeue, Impact, Helvetica, Arial, sans-serif; text-transform:uppercase; padding:0 0 8px; }
#what_am_i h3 { font:normal 4.5em/1 BebasNeue, Impact, Helvetica, Arial, sans-serif; text-transform:uppercase; padding:0 0 16px; }
#what_am_i .update { font:italic 1.6em/1 Georgia, "Times New Roman", serif; }

/* How to Clear */
#how_to_clear { background:url(/assets/img/your.text.png) no-repeat 50% 47px; }
#how_to_clear .sleeve { width:820px; margin:0 auto; padding:0 0 3px; background:url(/assets/img/dot.png) repeat-x 0 100%; }
#how_to_clear h2 { font:italic 2em/1 Georgia, "Times New Roman", serif; text-align:center; padding:25px 0 34px; background:url(/assets/img/dot.png) repeat-x 0 100%; }

/* Your Browser/OS */
#your_headers { background:url(/assets/img/dot.png) repeat-x 0 100%; zoom:1; }
#your_headers:after { content:"."; display:block; clear:both; visibility:hidden; height:0; }
#your_headers header { margin:9px 0 11px; padding:0 7px; float:left; width:396px; }
#your_headers img { float:left; margin-right:10px; }
#your_headers h3 { font:2.5em/1 BebasNeue, Impact, Helvetica, Arial, sans-serif; padding:3px 0 2px; }
#your_headers h3 span { position:absolute; left:-9999px; }
#your_headers .view { font-size:1.1em; line-height:1; }
#your_headers .view a { font-weight:normal; }

#your_headers .browser { background:url(/assets/img/dot.png) repeat-y 100%; }
#your_headers .os { text-align:right; margin-top:6px; padding-bottom:6px; }
#your_headers .os img { float:right; margin:0 0 0 10px; }
.windows #your_headers .os img { padding:4px 0 0; }
#your_headers .os h3 { padding-top:13px; }

/* Steps */
.how_tos { background:url(/assets/img/dot.png) repeat-y 407px 0; zoom:1; }
.how_tos:after { content:"."; display:block; clear:both; visibility:hidden; height:0; }

.how_to { float:left; width:50%; border:solid #FFF; border-width:10px 0; padding:0 0 10px; }
.how_to:hover .step { opacity:.5; }
.how_to:hover .step:hover { opacity:1; }
.how_to .step { padding:0 10px; font-size:1.4em; line-height:20px; -webkit-transition:opacity .2s ease-in-out; -moz-transition:opacity .2s ease-in-out; -o-transition:opacity .2s ease-in-out; transition:opacity .2s ease-in-out; }
.how_to .step h4 { background:#4D4F57; float:left; color:#FFF; padding:3px 7px 2px; border-radius:3px; }
.how_to .step p { padding:0 0 14px; }
.how_to .step img { display:block; }
.how_to .step .details { clear:left; padding:8px 7px 6px; }





@media (max-width:960px) {
	#how_to_clear { background:none; }
}


@media (min-width:1281px) {
	#mast .sleeve { position:relative; }
	#logo { left:-140px; }
}


